.note {
    margin: 30px 0;
    padding: 25px 30px;
    background-color: #5a56;
    border: 5px solid #5a59;
    border-radius: 25px;
}

.note > h1:first-child, .note > h2:first-child, .note > h3:first-child, .note > h4:first-child, .note > h5:first-child {
    margin-top: 0;
}

.note > h1:first-child::before, .note > h2:first-child::before, .note > h3:first-child::before, .note > h4:first-child::before, .note > h5:first-child::before {
    content: 'Poznámka: ';
    font-style: italic;
}